<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/js/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/layui.css"/>
    <script src="/js/jquery.js"></script>
</head>
<style>
    .main {
        margin: 15px;
    }
</style>
<body>
<div class="main">
    <table class="layui-hide layui-form" id="tableDemo" lay-filter="tableDemo"></table>
</div>
</body>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="add">添加</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['layer', 'table', 'element', 'form'], function () {
        var layer = layui.layer //弹层
            , table = layui.table //表格
            , form = layui.form;

        //执行一个 table 实例
        table.render({
            elem: '#tableDemo'
            , height: 500
            , url: '/json/gsry' //数据接口
            , page: false //开启分页
            , id:'tableDemo'
            , cols: [
                [
                    {field: 'id', title: 'ID', width: 100, sort: true, fixed: 'left'}
                    , {field: 'time', title: '时间', edit: 'text', width: 200,sort: true}
                    , {field: 'honor', title: '荣誉', edit: 'text', width: 200}
                    , {fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barDemo'}
                ]
            ]
        });
        //监听单元格编辑
        table.on('edit(tableDemo)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            $.ajax({
                type : "post",
                data : JSON.stringify(data),
                url : "/gl/gsry/update",
                contentType: "application/json; charset=utf-8",
                success:function () {
                    layer.msg('修改成功');
                }
            });
        });
        //监听工具条
        table.on('tool(tableDemo)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    //向服务端发送删除指令
                    $.ajax({
                        type : "post",
                        data : {
                            id:data.id
                        },
                        url : "/gl/gsry/del",
                        success:function () {
                            obj.del(); //删除对应行（tr）的DOM结构
                            layer.close(index);
                        }
                    });
                });
            } else if (layEvent === 'add') {
                $.ajax({
                    type : "post",
                    data : JSON.stringify(data),
                    url : "/gl/gsry/add",
                    contentType: "application/json; charset=utf-8",
                    success:function () {
                        layer.msg('添加成功');
                        table.reload('tableDemo');
                    }
                });
            }
        });
    });
</script>

</html>