<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="/css/error_style.css">
</head>
<body>
<div><h1>你输入的地址不正确</h1></div>
<nav class="shelf">
    <a href="/" class="book home-page">返回</a>
    <a class="book about-us"></a>
    <a href="/"  class="book contact">首页</a>
    <a class="book faq">F.A.Q.</a>

    <span class="door left"></span>
    <span class="door right"></span>
</nav>
<h1>Error 404</h1>
<p>糟糕，您访问的页面不存在！</p>
</body>
</html>