<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <link rel="stylesheet" href="/css/error_style.css">
</head>
<body>
<div><h1>系统错误</h1></div>
<nav class="shelf">
    <a href="/" class="book home-page">返回</a>
    <a class="book about-us"></a>
    <a href="/"  class="book contact">首页</a>
    <a class="book faq">F.A.Q.</a>

    <span class="door left"></span>
    <span class="door right"></span>
</nav>
<h1>Error 500</h1>
<p>糟糕，系统出现了一点问题！</p>
</body>
</html>