<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>金成劳务有限公司-官网</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div th:replace="header :: html"></div>

<div id="center" class="container-fluid">
    <div class="row">
        <div id="carousel" class="carousel slide col-md-8 col-md-offset-2 pleft-0 pright-0">
            <!-- 轮播（Carousel）指标 -->
            <!-- 		<ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol> -->
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <th:block th:each="secWheel,iterStat:${session.secImgLise}">
                    <div th:if="${iterStat.index eq 0}" class="item active">
                        <img th:src="@{${secWheel.url}}" th:alt="${secWheel.name}"/>
                    </div>
                    <div th:unless="${iterStat.index eq 0}" class="item">
                        <img th:src="@{${secWheel.url}}" th:alt="${secWheel.name}"/>
                    </div>
                </th:block>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 pleft-0 pright-0 ptop-2">
            <div class="col-md-2 pleft-0">
                <h5>&gt;联系我们</h5>
                <div class="nav-left">
                    <ul>
                        <li><a href="/lxwm_lxwm">联系我们</a></li>
                        <li><a href="/lxwm_jrwm">加入我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 pright-0">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title text-center">联系我们</p>
                    </div>
                    <div class="panel-body panel-body-font text-left ptop-2">
                        <div class="col-md-8 col-md-offset-1">
                            <iframe width="604" height="937" frameborder="0" scrolling="no" marginheight="0"
                                    marginwidth="0" th:src="@{${lxwm}}"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-yjzs text-center">
        <div><img src="img/yjzs.jpg"/></div>
        <div id="marquee1" class="marqueeleft">
            <div style="width:6000px;">
                <ul id="marquee1_1">
                    <li>
                        <a class="pic" href="http://sc.chinaz.com/"><img width="135" height="104"
                                                                         src="img/201281616534720869.jpg"></a>
                        <div class="txt"><a href="http://sc.chinaz.com/">南方国际大厦</a></div>
                    </li>
                    <li>
                        <a class="pic" href="http://sc.chinaz.com/"><img width="135" height="104"
                                                                         src="img/201281616534720869.jpg"></a>
                        <div class="txt"><a href="http://sc.chinaz.com/">南方国际大厦</a></div>
                    </li>
                    <li>
                        <a class="pic" href="http://sc.chinaz.com/"><img width="135" height="104"
                                                                         src="img/201281616534720869.jpg"></a>
                        <div class="txt"><a href="http://sc.chinaz.com/">南方国际大厦</a></div>
                    </li>
                    <li>
                        <a class="pic" href="http://sc.chinaz.com/"><img width="135" height="104"
                                                                         src="img/201281616534720869.jpg"></a>
                        <div class="txt"><a href="http://sc.chinaz.com/">南方国际大厦</a></div>
                    </li>
                    <li>
                        <a class="pic" href="http://sc.chinaz.com/"><img width="135" height="104"
                                                                         src="img/20127251731536317.jpg"></a>
                        <div class="txt"><a href="http://sc.chinaz.com/">南方国际大厦</a></div>
                    </li>
                    <li>
                        <a class="pic" href="http://sc.chinaz.com/"><img width="135" height="104"
                                                                         src="img/20127251715020800.jpg"></a>
                        <div class="txt"><a href="http://sc.chinaz.com/">南方国际大厦</a></div>
                    </li>
                    <li>
                        <a class="pic" href="http://sc.chinaz.com/"><img width="135" height="104"
                                                                         src="img/20127251705451556.jpg"></a>
                        <div class="txt"><a href="http://sc.chinaz.com/">南方国际大厦</a></div>
                    </li>
                </ul>
                <ul id="marquee1_2"></ul>
            </div>
        </div>

    </div>
</div>

<div th:replace="foot :: html"></div>
</body>

</html>
